/* You can add global styles to this file, and also import other style files */
body{
    background-color: #141850;
}
.info, .infos{
    color: white;
    margin: 30px; 
}

h1{
    color: white;
    margin-left: 30px;
}
.hoverwell {
    background-attachment: fixed;
    background-color: aqua;
}
.navbar{ /*Navbar*/
    background-color: rgb(0, 0, 157);
    overflow: hidden;
}
.gr {
    color: rgb(0, 255, 0);
}
.b {
    font-weight: bold;
}
.org {
    color: rgb(255, 204, 0);
}
.rd {
    color: red;
}
.navbar a { /*Tutte le altre opzioni*/
    float: left;
    font-size: 16px;
    color: rgb(229, 255, 0);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn { /*Events*/
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(229, 255, 0);
    padding: 15px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
  }
  
  .subnav-content { /*Il Sub Menu*/
    display: none;
    position: absolute;
    left: 1;
    background-color: rgb(80, 112, 255);
    width: 20%;
  }
  
  .subnav-content a {
    color: rgb(229, 255, 0);
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: red;
    color: rgb(229, 255, 0);
  }
  
  .subnav:hover .subnav-content {
    display: grid;
  }
  .wc{
      color: white;
      float: right;
      margin-right: 10px;
  }
  .search{
      padding: 15px;
  }
  .pick:hover{
      background-color: rgb(0, 208, 208);
  }
  .container {
      padding-left: 20px; padding-right: 20px;
    }
    .errorMessage{
      margin-top: 150px;
      font-size: 170px;
      text-align: center;
    }
    .foto {
      height: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding: 10px;
    }
    .pick{
      display: block;
      align-content: space-between;
      width: 350px;
      background-color: dodgerblue;
      margin: 50px;
      display: inline-block;
      cursor: pointer;
  }