/* You can add global styles to this file, and also import other style files */
body{
    background-color: #141850;
}
.info{
    display: inline-block;
    width: 500px;
    height: 410px;
    align-items: stretch;
    color: white;
    margin: 30px;
    border: hidden 2px blanchedalmond;
    background-color: dodgerblue;
    cursor: pointer;
}

h1, h3{
    color: white;
    margin-left: 30px;
}
.hoverwell {
    background-attachment: fixed;
    background-color: aqua;
}
.bgd{
    background-color: red;
    padding: 20px;
}
a {
    padding: 20px;
    cursor: pointer;
    border: hidden;
    background-color: red;
    text-decoration: none;
}
span {
    color: rgb(0, 255, 0);
}